<p>test-child works!</p>

<div class="container">
    <div class="row">
        <h1>Proceed to Pay</h1>
        <button (click)="pay()">Pay</button>
    </div>
</div>
{{objUtils.metaInfoObj.pageTitle}}
{{objUtils.metaInfoObj.pageTitle}}{{objUtils.metaInfoObj.pageTitle}}
<form #form ngNoForm id="nonseamless" method="post" name="redirect"
    action="https://test.ccavenue.com/transaction/transaction.do?command=initiateTransaction">
    <input type="hidden" id="encRequest" name="encRequest" [(ngModel)]="encRequest">
    <input type="hidden" name="access_code" id="access_code" [(ngModel)]="accessCode">
</form>